::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #8580e5;
}

::-webkit-scrollbar-thumb:hover {
    background: #4E47E0;
}

body{
    overflow-x: hidden;
}